/* width */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(177, 177, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}